@import "normalize";
@import "lib/bourbon/bourbon";

@import "grid-settings";
@import "lib/neat/neat";

@import "utils/index";

@function dist($x) {
	@return modular-scale($x, 1rem, $golden);
}

@function fsize($x) {
	@return modular-scale($x, 1em, $major-second);
}

.center {
	text-align: center;
}

.invis {
	visibility: hidden;
}

.hidden {
	display: none;
}

@import "layout";
